@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #111827;
  font-family: Pretendard;
}

html {
  font-size: 62.5%;
}

.ql-snow {
  border: none !important;
}

.ql-editor {
  border: none !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: #262626;
}

.ql-snow .ql-tooltip {
  border: none !important;
}

.ql-editor::before {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: #a3a3a3 !important;
  font-style: normal !important;
}

.shadow-sm {
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--gray-200);
  border-radius: 10px;
}
